*{list-style:none;margin:0px;padding:0px;box-sizing:border-box;}
html{font-size:20px;}
body{font-family: "微软雅黑";overflow:hidden;width:100%;}
header img{width:100%;}
section{padding-left:1rem;}
section h3{font-size:1.5rem;text-align:center;color:#77a157;padding:1rem 0 1rem 0;}
section label{font-size:1.4rem;width:7.3rem;display: inline-block;text-align:right;}
section input{width:60%;height:3rem;font-size:1.2rem;padding-left:5px;border:1px solid #ddd;/*background:#f0f0f0;*/border-radius:none;margin-bottom:1.6rem;}
section select{width:9.8rem;height:3.5rem;margin-bottom:1.6rem;}
section .reg{width:80%;height:3.5rem;font-size:2rem;color:#fff;display: block;text-align:center;text-decoration:none;background:#acc59d;border-radius:5px;margin:0 auto;line-height:3.5rem;}
footer a{display: inline-block;width:32%;text-align:center;font-size:1.5rem;text-decoration:none;color:#5a9837;padding:4.6rem 0 1.2rem 0;}
footer a img{width:2.25rem;height:2.25rem;vertical-align: middle;}

/**********普通弹窗提示*****************/
.valert{min-width: 280px; height: 100px; position: fixed; left: 50%; margin-left: -140px; top: 50%; margin-top: -50px; z-index: 9998;}
.valert .alert_bg{background:#000; opacity: 0.5; filter:alpha(opacity=50); width: 100%; height: 100%;/* position: absolute; *//*left: 20px;*/ top: 0; z-index: 1;padding-right:30px;}
.valert .alert_text{color: #fff;line-height: 100px; height: 100px; width:80%;/* overflow: hidden;*/ text-align: center; font-size: 16px;z-index: 9; /*position:absolute; left:0; top: 0*/}
.valert.suc .alert_text{background: url(../images/icon-layer1.png) no-repeat 45px 33px; text-align: left; padding-left: 90px}
.valert.fail .alert_text{background: url(../images/icon-layer.png) no-repeat 45px 33px; text-align: left; padding-left: 90px}
/******搜索框*******/